{% include 'header.html' %}

<!-- Sub-Title -->

<div class="container-fluid title-container">
    <h1 class="top-heading">FAVOURITES</h1>
</div>

{% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p class="flash">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}

    <section id="watchlist">
        <div class="container">
            {% for item in favourites_items: %}
            <div class="container results-container">
                <div class="container select-container">
                    <div class="content-poster">
                        <img class="select-poster" src="{{item.content_poster_path}}" alt="" />
                    </div>
                    <div class="content">
                        {% if item.content_type == 'movie': %}
                            <a class="watchlist-movie-title" href="{{ url_for('find_movie', id=item.content_id) }}">{{item.content_title}}</a>
                        {% elif item.content_type == 'tv': %}
                            <a class="watchlist-movie-title" href="{{ url_for('find_tv_show', id=item.content_id) }}">{{item.content_title}}</a>
                        {% endif %}
                        <a type="button" title="Delete" href="{{url_for('remove_from_favourites', id=item.content_id)}}" class="delete-button"><i class="fas fa-times-circle"></i></i><span class="remove-text">Remove from favourites</span></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
{% include 'footer.html' %}