{% include 'header.html' %}


<div class="container-fluid title-container">
    <h1 class="top-heading">SIGN UP</h1>
  </div>

<section id="form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <form method="POST" class="signin-form">
            <div class="form-group">
                {{ form.name(type="text", class="form-control", placeholder="Name")}}
              </div>  
            <div class="form-group">
              {{ form.email(type="email", class="form-control", placeholder="Email")}}
            </div>
            <div class="form-group">
              {{ form.password(type="password", class="form-control", placeholder="Password")}}
            </div>
            <div class="form-group">
              {{ form.submit(type="submit", class="form-control btn btn-warning") }} 
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
              message in messages %}
              <p class="flash">{{ message }}</p>
              {% endfor %} {% endif %} {% endwith %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'footer.html' %}